
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.loading {
  font-size: 2em;
  color: #007bff;
}

.error {
  color: red;
  font-size: 1.5em;
}

.tour {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.tour img {
  max-width: 100%;
  border-radius: 5px;
}

.tour-info {
  text-align: left;
}

.tour h2 {
  margin: 10px 0;
}

.tour button {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.tour button:hover {
  background: #0056b3;
}

.read-more {
  color: #007bff;
  cursor: pointer;
}